.frame {
    margin: 0 auto;
    display: block;
}

.center {
    margin: 0 auto;
    display: block;
    width: 370px;
    height: 370px;
    background-color: rgb(51,72,95);
    border-radius: 20px;
    text-align: center;
}

/* Text */

.normal {
    color:white;
}

.small {
    color:white;
}

svg {
    margin: 0 auto;
    display: block;
    fill:rgb(51,72,95);
}

/* Large Center Circle */

/* BIG circle */

circle.main {
    width: 115px;
    height: 115px;
    fill: rgb(51,72,95);
}

/* Progess bar */

circle.progress {
    stroke-width: 10px;
    stroke-linecap: round;
    stroke: rgb(27,42,51);
}


/* smaller circles */

.circles-small {
    display: inline;
    width:100%;
}